{% extends 'layout.html' %}

{% block content %}

    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark full_left_menu">
            <div class="d-flex flex-column px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="menu_title">Admin</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    {% if current_user.is_authenticated %}
                    {% for role in current_user.roles %}
                    {% if role.name == 'Admin' %}
                    <li class="nav-item">
                        <a href="{{url_for('admin.admin_userlist')}}" class="text-white left_menu">
                            <i class="fs-4 bold"></i> <span class="ms-1 d-none d-sm-inline text-white">User List</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.admin_auth_emails')}}" class="text-white left_menu">
                            <i class="fs-4 bold"></i> <span class="ms-1 d-none d-sm-inline text-white">Authoriz. emails</span></a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.change_user')}}" class="text-white left_menu">
                            <i class="fs-4 bold"></i> <span class="ms-1 d-none d-sm-inline text-white">Change User</span></a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
                <hr>

            </div>
        </div>
        <div class="col-md-9">
            {% block admin %}
            {% endblock admin %}
        </div>
    </div>

{% endblock content %}