{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron p-3">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!-- add the csrf token using secret key -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            <div class="form-group">
                {{ form.first_name.label(class="form-control-label") }}
                {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.first_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-control-label") }}
                {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.last_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.investor_type.label(class="form-control-label") }}
                {% if form.investor_type.errors %}
                    {{ form.investor_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.investor_type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.investor_type(class="form-control form-control-sm") }}
                {% endif %}
                <small class="text-muted ml-2">
                    <div>(*) Defined as an institution with assets under discretionary management of more than US$5 million and/or an individual with a joint net worth with spouse of more than US$1 million</div>
                </small>
            </div>
        </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>

</div>
<div class="border-top pt-3">
    <small class="text-muted">
           Already have an account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
            <!-- url_for is using the function, not the template -->
    </small>
</div>
        </div>
{% endblock content %}
