{% extends 'main/layout.html' %}

{% block main %}

<div class="container">
<h1>About Ananda</h1>

Ananda Asset Management is a London-based equity investment manager investing in Europe and North America.
Ananda was founded in 2018 by Louis Villa and Araceli Strassburger, who have over 30 years of combined experience in public markets. Please visit the Team section for more information.
We invest our internal assets, along with those of a diverse group of family offices, high net worth individuals and financial institutions, providing a perfect alignment of interest.
Ananda is authorised and regulated by the FCA.
<br/><br/>
<img src="{{ image_file }}">

<br/><br/>
<div style="font-size: small"><b>Ananda Asset Management - 207 Sloane Street, Knightsbridge, London SW1X 9QX, UK - Email: info@ananda-am.com</b></div>
<div style="font-size: small"><b>Ananda is authorised and regulated by the UK Financial Conduct Authority under # 924813.</b></div>
<br/>
<div style="font-size: x-small"><b><u>Disclaimer</u></b></div>
<div style="font-size: x-small"><b>Investments in these programs involve a substantial amount of risk, including loss of capital. This website is only intended for qualified institutional and qualified individual investors. It does not constitute an offer to sell nor a solicitation of an offer to buy interests described herein. </b></div>

</div>

{% endblock main %}
